{% extends 'container.html' %} {% block content %}

<br>
<div class="container" id="home">
    <br>
    <h1>CorrespHumboldt</h1>
    <div class="homeText">
        <p>Commençant avec la Révolution française, la panthéonisation est une tradition reprise des Égyptiens, reprise par les Grecs ainsi que les Romains. Il s'agit de donner à une personne l'hommage ultime de <i>grand homme</i> de la nation française.
            L'hommage ainsi que la cérémonie varient suivant la période de l'histoire française.
        </p>
        <p>Au moment de la création du concept de Panthéon français, c'est l'assemblée constitutante qui prend la décision de panthéoniser une personne. La Convention prend ensuite le relais pour le choix de l'inhumation de Jean-Jacques Rousseau ainsi que
            pour retirer Mirabeau en 1794 et plus tard Marat. Pendant le Premier Empire, Napoléon s'attribue le privilège tandis que sous les Troisième et Quatrième Républiques, ce sont les députés qui proposent et décident sous la forme d'une loi. Depuis
            la Cinquième République, cette prérogative revient au président de la République. La cérémonie avec la remontée de la rue Soufflot, le discours, l'entrée solennelle met autant en avant le président de la République que la personne qu'il souhaite
            honorer.
        </p>
        <p>Dédié aux personnes exceptionnelles,
            <i>"aux grands hommes de la patrie reconnaissante"</i>, le Panthéon accueille, à ce jour, l'inhumation de soixante-quatorze hommes et quatre femmes. À travers ce site, vous pouvez découvrir les hommes et les femmes qui reposent dans ce monument
            situé dans le 5
            <sup>e</sup> arrondissement de Paris.</p>
    </div>
    <br/>
</div>
<br> {% endblock content %}