{% extends 'container.html' %} {% block content %}

<div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <h1>{%block title%}Search{%endblock title%}</h1>

        <div style="margin-left:5em">
            <form action="{{url_for('search')}}" method="GET">

                <form action="" class="form-inline" method="GET">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" class="form-control" name="name" aria-label="name">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Place</span>
                        </div>
                        <input type="text" class="form-control" name="place" aria-label="place">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Year</span>
                        </div>
                        <input type="text" class="form-control" name="year" ria-label="year">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputInstutitions">Stockholding institutions</label>
                        </div>
                        <select class="custom-select" id="inputInstutitions" name="instutition">
                      <option selected>Choose...</option>
                      <option value="1">BnF</option>
                      <option value="2">Kalliope</option>
                      <option value="3">Option3</option>
                    </select>
                    </div>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline" name="all">
                        <label class="custom-control-label" for="customControlInline">All letters from the database.</label>
                    </div>
                    <div>
                        <button type="submit" class="btn input-group-text">Submit</button>
                    </div>
                </form>


        </div>

        <br> {% if search == True%}
        <p style="margin-left: 275px; "><i>Please enter one or more search items.</i></p>
        {% elif results%}
        <p>{{count}} results for your search:</p>
        <ul>
            {%for r in results%}
            <p>
                <a class="addNew" href={{r[ "identifier"][1]}} target="_blank">{{r["title"]}}</a></p>
            {%endfor%} {% else %}
            <br>
            <br>
            <p>No result.</p>

            {% endif %}
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br> {% endblock content %} {% block script %} {% endblock script %}